* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body {
    background-color: #ffffff;
    color: #555;
    font-family: "Lato" , "Arial" , sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}


/*-------------------------------*/
/*-------REUSABLE COMPONENTS-----*/
/*-------------------------------*/
.row {
    width: 1140px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    font-size: 200%;
    color: #fff;
    word-spacing: 4px;
    letter-spacing: 2px;
    line-height: 145%;
}

h2 {
    text-transform: uppercase;
    font-size: 180%;
    color: #000;
    text-align: center;
    word-spacing: 3xp;
    letter-spacing: 1px;
    margin-bottom: 60px;
    
}

h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    text-transform: uppercase;
    margin-top: 10px;
}

section {
    padding: 80px 0;
}


/*-----BUTTONS-------*/
.btn {
    text-decoration: none;
    margin-right: 10px;
}

.btn-full:link , .btn-full:visited {
    border: 1px solid #e67e22;
    background-color: #e67e22;
    color: #fff;
    padding: 10px 30px;
    border-radius: 100px;
    transition: background-color 0.5s , color 0.5s;
}

.btn-full:hover , .btn-full:active {
    background-color: #ce6f1b;
}

.btn-ghost:link , .btn-ghost:visited {
    border: 1px solid #e67e22;
    background-color: #fff;
    color: #e67e22;
    padding: 10px 30px;
    border-radius: 100px;
    transition: background-color 0.5s , color 0.5s;

}

.btn-ghost:active , .btn-ghost:hover {
    background-color: #e67e22;
    color: #fff;
}


/*-------------------------------*/
/*-------HEADER-----*/
/*-------------------------------*/

header {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)), url(img/main-back.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}


.logo {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    float: left;
    margin-top: 40px;
}

.main-nav {
    list-style: none;
    float: right;
    margin-top: 70px;
}

.main-nav li {
    display: inline-block;
    margin-right: 50px;
}

.main-nav li a:link , .main-nav li a:visited {
    text-decoration: none;
    color: #fff;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.main-nav li a:hover , .main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.heading-box {
    position: absolute;
    top: 48%;
    left: 12%;
}


/*-------------------------------*/
/*-------FEATURES-----*/
/*-------------------------------*/

.para {
    margin-top: 40px;
    line-height: 145%;
    word-spacing: 4px;
}

.feature-box {
    margin-top: 80px;
}

.feature-box p{
    width: 100%;
    line-height: 145%;
    word-spacing: 4px;
    margin-top: 15px;
}



/*-------------------------------*/
/*-------GALLERY-----*/
/*-------------------------------*/

.section-gallery {
    padding: 0;
    
}

.image-gallery {
    width: 100%;
    list-style: none;
    margin: 0;
    height: 283.2px;
}

.image-gallery li {
    display: block;
    float : left;
    width: 25%;
    height: auto;
}

.image-container {
    width: 100%;
    overflow: hidden;
    background-color: #000;
}

.image-container img {
    width: 100%;
    height: 280px;
    transform: scale(1.25);
    opacity: 0.6;
    transition: transform 0.5s , opacity 0.5s;
}

.image-container img:hover {
    opacity: 1;
    transform: scale(1.15);
}


/*-------------------------------*/
/*-------DESTINATIONS-----*/
/*-------------------------------*/

.dest-box {
    padding: 1%;
}

.dest-box img {
    width: 100%;
}

.dest-box h3 {
    margin: 25px 0;
}

.dest-details-box div {
    margin-top: 10px;
}


/*-------------------------------*/
/*-------CUSTOMERS-----*/
/*-------------------------------*/

.section-customers {
    background-image: linear-gradient(rgba(0,0,0,0.6) , rgba(0,0,0,0.6)), url(img/testimo-back.jpg);
    color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-customers h2 {
    color: #fff;
}

.custo-box {
    margin-top: 40px;
}

.custo-box blockquote::before {
    content: "\201C";
    display: block;
    font-size: 500%;
    position: absolute;
    left: -3px;
    top: -10px;
}

.custo-box blockquote {
    line-height: 160%;
    font-style: italic;
    position: relative;
}

.custo-box blockquote cite {
    display: block;
    margin-top: 8px;
}


/*-------------------------------*/
/*-------PRICING-----*/
/*-------------------------------*/

.section-pricing {
    background-color: #ededed;
}

.price-box {
    background-color: #fff;
    padding: 20px;
}